.zooniverse-profile
  .sign-in-form
    .action button
      center-block()
      display: block
      font-size: 14px
      line-height: 14px
      text-transform: uppercase
      cursor: pointer
      
    .no-account button
      appearance: none
      background: transparent
      border: 0
      color: inherit
      cursor: pointer
      font: inherit
      margin: 0 0 0 10px
      padding: 0
      
      &:disabled
        opacity: 0.5
        pointer-events: none
