nav
  margin-bottom: 40px
  
  .row
    position: relative
    
    &:after
      border-top: 1px solid rgba(black, 0.20)
      border-bottom: 1px solid rgba(black, 0.20)
      content: ""
      height: 0
      left: 0
      position: absolute
      top: 100%
      width: 100%
